


/*MARK: HEADER*/
body{
    font-family: "ValueSansPro"; 
    font-weight: bold;
}


.header{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    font-family: ValueSansPro;
}
.head{
    background-color: #274646;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.left-header{
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-left: auto;
    
}

.menu-button{
    background-color: #274646;
    display: inline-block;
    cursor: pointer;
    vertical-align:middle;
    
    
}
.logo{
    display: inline-block;
    vertical-align:middle;
    margin-left: auto
    
}
.telephone-number{
    color: #A0A0A0;
    display: inline-block;
    font-size: 14px;
    
}
.geolocation{
    display: inline-block;
    vertical-align:middle;
    
}
.geolocation img{
    vertical-align:middle;
}
.address-label{
    display: inline-block;
    color: #FFE091;
    font-size: 14px;
    padding-left: 6px;
}

.right-header{
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-left: auto
    

}

.shimings{
    display: inline-block;
    vertical-align:middle;
    
}
.shimings img{
    vertical-align:middle;
}
.shimings-label{
    display: inline-block;
    color: #FFBDC8;
    font-size: 14px;
    padding-left: 6px;
}

.cart{
    display: inline-flex;
    vertical-align:middle;
    
    
}
.cart-label{
    display: inline-block;
    vertical-align:middle;
    color: #FFFFFF;
    font-size: 12px;
    background: #B20D30;
    border-radius:50%;
    width:18px;
    height:18px;
    text-align:center;
}

.cart img{
    vertical-align:middle;
}

.cart-cost{
    display: flex;
    color: #FFFFFF;
    font-size: 14px;
    vertical-align:middle;
    padding-left: 8px;
}

.topnav {
    display: flex;
    justify-content: center;
    gap: 48px;
    
}

.topnav a {
    color: #274646;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 16px;
}

.topnav a:hover {
    border-bottom: 3px solid #274646;
}

.topnav a.active {
    border-bottom: 3px solid #274646;
}

.recent-bar{
    display: flex;
    justify-content:center;
    gap: 48px;
    padding-top: 8px;
    
}

.recent-bar a {
    color: #6B6B6B;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #E5E5E5;
    padding: 12px;
    border-radius: 46px;
}

.recent-bar a.active {
    background-color: #E9E6E6;
    color: #274646;
}


