/*Rimma Sans Bold*/

@font-face {
    font-family: 'RimmaSansBold';
    src: local('RimmaSansBold'),
         url('../fonts/RIMMA_SANS-BOLD.TTF') format('truetype');
    font-weight: 700;
    font-style: bold;
}